services:
  pop3_to_gmail:
    # Build the image using the Dockerfile in the current directory
    build: .
    # Name the container for easier reference
    container_name: pop3_to_gmail
    # Map the application port
    ports:
      - "3000:3000"
    # Mount some files to the container for easy updates
    volumes:
      - ./credentials.json:/usr/src/app/credentials.json
