services:
  pop3_to_gmail:
    # Build the image using the Dockerfile in the current directory
    build: .
    # Name the container for easier reference
    container_name: pop3_to_gmail
    # Map the application port
    ports:
      - "3000:3000"
    # Mount a host directory for persistent data under the container WORKDIR
    volumes:
      - /data/pop3_to_gmail:/usr/src/app/data:rw
    environment:
      - STATUS_PORT=3000
    entrypoint: ["node","/usr/src/app/pop3_to_gmail.js","/usr/src/app/data/config.yaml"]
    restart: unless-stopped
